.container {

    background-color: gray;
}

.center {
    text-align: center;
}

.TableSett{
        width: 100%;
    text-align: left;
}

.tabletop{
    background-color: black;
    height: 40px;
}

.topBord{

border-right:solid 0.5px #808088;
padding-left: 5px; 
}

.color1{
    background-color: grey;
    height: 30px;
}
.color2{
    background-color: white;
    height: 30px;
}
